

/*------header------*/
.header{
	background-color: #fff;
	height: 100px;
}

/*-----header end-----*/

/*------main block------*/
.main-block{
	background-color: #f1f5f8;
	padding-bottom: 40px;
}
.main-block__top{
	padding-top: 17px;
}
.main-block__top-icon{
	color: #a9b5c9;
	font-size: 14px;
	margin-right: 5px;
}
.top_text{
	color: #000;
	font-family: "Exo2Regular";
	font-size: 14px;
}
.main-block__content{
	margin-top: 15px;
}
.content-item_wrap{
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(194,202,219,.58);
}
.content-item__title{
	border-bottom: 1px solid #d6deed;
	padding: 10px;
}
.title-icon{
	color: #26cfc9;
	font-size: 18px;
	margin-right: 20px;
}
.title-text{
	color: #000;
	font-family: "Exo2Regular";
	font-size: 25px;
}
.content-item__filling{
	padding: 10px;
}
.content-item__text_style{
	color: #7a8593;
	font-family: "Exo2Regular";
	font-size: 14px;
	line-height: 1.5;
}
.text-style_size{
	padding-bottom: 135px;
}
.content-item__form{
	margin-top: 15px;
	text-align: center;
}
.form__input_left,.form__input_right{
	width: 48%;
}
.form__input_left{
	margin-right: 17px;
}
.form__input_bottom{
	width: 100%;
}
.form__input{
	color: #798593;
	font-family: "Exo2Regular";
	font-size: 14px;
	background-color: #f1f5f7;
	box-shadow: inset 0 1px 1px rgba(190,195,198,.57);
	border: none;
	margin-bottom: 15px;
    padding: 10px;
    resize: none;
    outline: none;
}
.form__submit{
	border-radius: 19px;
	background-color: #1f6da7;
	border: none;
	color: #fff;
	font-family: "Exo2Bold";
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	outline: none;
	padding: 15px 45px;
}
/*-----main block end-----*/

/*------footer------*/
.footer{
	background-color: #203856;
	padding: 20px 0px 25px;
}
.сopyright{
	opacity: .5;
	color: #fff;
	font-family: "Exo2Regular";
	font-size: 14px;
	text-align: center;
}
.footer-nav__list{
	text-align: center;
}
.footer-nav__item{
	color: #fff;
	font-family: "Exo2Regular";
	font-size: 14px;
	text-decoration: underline;
	margin-right: 15px;
	display: inline-block;
}
.footer-nav__link{
	color: #fff;
}
.footer-nav__link:hover{
	color: #fff;
}
.icon__item{
	opacity: .5;
	color: #fff;
	font-size: 16px;
	margin-right: 20px;
}
.icon__item:hover{
	color: #fff;
}
/*-----footer end-----*/